.main {
  height: 80%;
  width: 100%;
  display: table;
}
.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#form {
  margin-top: 5%;
  width:40%;
  margin-left: 30%;
  margin-bottom: 5%;
}
.form-group {
  display:flex;
  justify-content: space-between;
}

input {
  width: auto;
}

a {
  color:white;
  background-color: #0A369D;
  border-radius: 18px;
}

.oval-button {
  font-size: 20px !important;
  padding: 20px 70px;
  line-height: 0.1; /* Ajustez la line-height pour aligner le texte au centre */
  border-radius: 18px;
}
