h2 {
  margin-top: 10%;
}

select:hover {

}
#form{
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.elem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nom{
  display: flex;
  flex-direction: row;
 align-items: center;
}

.roles{
  padding-left: 100px;
}


ul {
  list-style-type: none; /* Supprimer les puces */
  color: #0A369D;
  font-family: Inter, sans-serif !important;
  font-weight: bold;
  text-align: right; /* Aligner le texte à droite */
}

select {
  border: 3px solid #0A369D; /* Couleur de la bordure bleue */
  border-radius: 18px; /* Bordure arrondie */
  padding: 8px; /* Espacement interne */
  font-family: Inter, sans-serif !important;
  color: #0A369D; /* Couleur du texte */
}


/* Styles pour les options dans la liste déroulante */
select option {
  font-family: Inter, sans-serif !important;
  color: #0A369D;; /* Couleur du texte */
}

.ajout{
  padding-bottom: 50px;
}

#ajouter{
  margin-left: 5%;
}

h5{
  padding-right: 100px;
  padding-top: 30px;
}

.delete-icon{
  padding-right: 25px;
}

.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#no-user{
  margin-top: 5%;
}

#register{
  line-height: 1;
  background-color: white !important;
  color:#0A369D ;
  border: 4px solid;
  box-sizing: border-box;
  border-radius: 18px;
  border-color: #0A369D !important;
  vertical-align: middle;
  margin-bottom: 5%;
}

