<app-nav></app-nav>
<div class = "main">
  <div class = "wrapper">
    <h1>CHANGER MON MOT DE PASSE</h1>
    <div id="form">
      <div class = "form-group">
        <div class="form-infos">
          <label for="nouveau-mdp">Nouveau mot de passe</label>
          <input type="password" id="nouveau-mdp" class="form-control" aria-describedby="emailHelp" placeholder="****">
        </div>
        <div class="form-infos">
          <label for="confirmer-nouveau-mdp">Confirmer nouveau mot de passe</label>
          <input type="password" id = "confirmer-nouveau-mdp" class="form-control"  placeholder="****">
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4 ">
    <button (click)="validate()" class="btn btn-primary oval-button">Confirmer</button>
  </div>
  </div>


</div>
<app-footer></app-footer>
