.main {
  height: 70%;
  width: 100%;
  display: table;
}
.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

h2, h3, p {
  margin-bottom: 50px;
}

#centered-div {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  margin-left: 10%;
}

.informations {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 5%;
}

.detail-info {
  text-align: center;
}

img {
  margin-bottom: 20px;
}

a {
  color:white;
  background-color: #0A369D;
  border-radius: 18px;
}

#delete\ btn {
  height: 40px;
  background-color: red !important;
  border-color: red !important;
}

#delete\ btn:hover {
  border : 4px solid red !important;
  background-color: white !important;
  color: red !important;
}

#button{
  align-self: flex-start;
  margin-left: auto;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}

.oval-button {
  font-size: 20px !important;
  padding: 20px 70px;
  line-height: 0.1; /* Ajustez la line-height pour aligner le texte au centre */
  border-radius: 18px;
}
